[project]
	description = An AngularJS directive to display a context menu when a right-click event is triggered.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/khealy316
[access "refs/for/refs/*"]
	read = group user/khealy316
	push = group user/khealy316
	label-Code-Review = -2..+2 group user/khealy316
	label-Verified = -1..+1 group user/khealy316
	rebase = group user/khealy316
	removeReviewer = group user/khealy316
	submit = group user/khealy316
[access "refs/heads/*"]
	read = group user/khealy316
	create = group user/khealy316
	push = +force group user/khealy316
	pushMerge = group user/khealy316
[access "refs/tags/*"]
	push = +force group user/khealy316
	pushTag = group user/khealy316
	pushSignedTag = group user/khealy316
